/.plastic
/.vscode
/.vsconfig
/Advanture2025.sln
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/CFXR.WelcomeScreen.csproj
/CFXRDemo.csproj
/CFXREditor.csproj
/CFXRRuntime.csproj
/ignore.conf
/ignore.conf.private.0
/KinoBloom.Runtime.csproj
/Library
/Logs
/Packages
/ProjectSettings
/Python
/step_wait_11.tmp
/step_wait_4.tmp
/Temp
/ToonyColorsPro.Demo.Editor.csproj
/UserSettings